extends layout

block content
    button(
        onclick='host()'
        style={
            width:'100px',
            height:'30px',
            margin:'20px'
        }
    ) HOST
    button(
        onclick='join()'
        style={
            width:'100px',
            height:'30px',
            margin:'20px'
        }
    ) JOIN
    button(
        onclick='leave()'
        style={
            width:'100px',
            height:'30px',
            margin:'20px'
        }
    ) LEAVE
    button(
        onclick='status()'
        style={
            width:'100px',
            height:'30px',
            margin:'20px'
        }
    ) STATUS
